body{
    color: #000;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    clear: both;
}
p {
    font-weight: 100;
    fill-opacity: unset;
}